//---------------------------------------------------------------------------
//
// Name:        MathParserApp.rc
// Author:      ruett1
// Created:     24.04.2012 12:17:13
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
